<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848893511237-ncmu7iloac3pu99gurjjh5n345anlqru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848893511237-ncmu7iloac3pu99gurjjh5n345anlqru</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>848893511237-7rucvmh0rf2btkbf803aq54muv5dq0ir.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqlHs3AJXujceh0Jl1panzSBF08_4KBoI</string>
	<key>GCM_SENDER_ID</key>
	<string>848893511237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.momilette.ezcom</string>
	<key>PROJECT_ID</key>
	<string>journal-de-bord-927bb</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-de-bord-927bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848893511237:ios:a312897abcdb2334ec052c</string>
	<key>DATABASE_URL</key>
	<string>https://journal-de-bord-927bb-default-rtdb.firebaseio.com</string>
</dict>
</plist>